{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <p>
        <div class="row row-pb-lg">
            <div class="col-md-10 col-md-offset-1">
                <div class="product-detail-wrap">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                <button class="close" data-dismiss="alert">
                                    <small><sup>x</sup></small>
                                </button>
                            <p class="reviews">{{ message }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
    <div class="color-wrap">
        <p class="color-desc">
            Категория:
            <a href="{{ product.category.get_absolute_url }}" style="color: #000;" class="color color-1">
                {{ product.category }}
            </a>
        </p>
    </div>
    <div>
        <p class="color1-1">{{ product.name }}</p>
        <p class="color1-1">{{ product.description }}</p>
        <p class="color1-1">${{ product.price }}</p>
        <p class="color1-1">{{ product.created }}</p>
    </div>
    <img src="{{ product.image.url }}"><br>
    {% if user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'add_cartitem' product.slug product.id %}" method="post">
                        <div class="row">
                            <div class="col-12">
                                {% csrf_token %}
                                {{ form.as_p }}
                            </div>
                            <div class="col-6">
                                <button type="submit" class="btn btn-danger">Отправить</button>
                            </div>
                            <div class="col-6">
                                <p><a href="{% url 'cart_item' %}" class="btn btn-info">Перейти в корзину</a></p>
                            </div>

                        </div>
                    </form>
                </div>
            </div>

        </div>
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <p><a href="{% url 'account_signup' %}" class="btn btn-success">Регистрация</a></p>
                </div>
                <div class="col-6">
                    <p><a href="{% url 'account_login' %}" class="btn btn-success">Вход</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
    </div>
    </p>
{% endblock content %}